@import url('https://fonts.googleapis.com/css2?family=League+Spartan&family=Play&display=swap');
.navigation {
  position: fixed;
  top: 0;
  right: 5;
width: 100vw;
margin:auto !important;
  height: 6rem;
  background-color: #333;
  color: #fff;
  display: flex;
  font-family: 'Play', sans-serif;
  text-transform:uppercase;
  align-items: center;
  justify-content: space-around;
  padding: 0 20px;
  background-image: url(../assets/glossbg3.png);
 
  background-size: cover;

  opacity: 0;
}
.fade-in{
  opacity: 1;
  transition: opacity 1500ms;

}
.navigation-toggle {
  background: none;
  border: none;
  color: #fff;
  cursor: pointer;
  font-size: 16px;
  box-shadow: rgba(220, 220, 239, 0.25) 0px 50px 100px -20px, rgba(243, 235, 235, 0.3) 0px 30px 60px -30px, rgba(211, 115, 5, 0.35) 0px -2px 6px 0px inset;
  margin-left: -20em;
}

.navigation-menu {
  display: flex;
  color: #fff;
  list-style: none;
  margin-right: -15em;
  padding: 0;
  opacity: 0;
  pointer-events: none;
  transition: opacity 500ms, fade-in 500ms;
}
.mission-text{
  color: #fff;
  margin: auto;
  font-size: 1221px;
}
.fade-in {
  animation-name: fade-in;
  animation-duration: 1s;
  animation-fill-mode: both;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}


/* .navigation-menu.show {
  opacity: 1;
  pointer-events: auto;
  margin-right: -15em;
  transition: opacity 1500ms;
} */

.navigation-item {
  padding: 10px;
}
.logo{
  width:fit-content;
  height: 3em;
  mix-blend-mode: lighten;
  border-radius: 50%;
  margin-left: -11em;
  box-shadow: rgb(243, 243, 246) 0px 50px 100px -20px, rgba(243, 235, 235, 0.3) 0px 30px 60px -30px, rgba(211, 115, 5, 0.35) 0px -2px 6px 0px inset;
}
@media (max-width: 768px) {
  .navigation {
    /* Styles for smaller screens */
    flex-direction: column;
    height: auto;
    padding: 10px;
  }

  .navigation-toggle {
    /* Styles for the toggle button */
    margin-right: 10px !important;
    background-color: black !important;
  }

  .navigation-menu {
    /* Styles for the menu */
    display: flex;
    gap: 1em;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    opacity: 0;
    pointer-events: none;
    transition: opacity 500ms;
    background-color: #333;
    padding: 10px 0;
    margin: auto;
    /* flex-direction: column; */
    align-items: center;
  }

  .navigation-menu.show {
    /* Styles for showing the menu */
    opacity: 1;
    pointer-events: auto;
    background-image: url(../assets/blackbg2.png);
    background-position-y: 2em;
  }

  .navigation-item {
    /* Styles for the menu items */
    display: block;
    margin-bottom: 10px;
    padding: 10px 0;
  }

  .logo {
    /* Styles for the logo */
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
  }

}
